In [1]:
import comet_ml
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
comet_api = comet_ml.api.API()

In [3]:
exps = comet_api.get('federated-learning/500c-opt-cifar-new')

In [4]:
lrs = [float(exp.get_parameters_summary('LEARNING_RATE')['valueMax']) for exp in exps]
teas = [float(exp.get_metrics_summary('test_acc')['valueMax']) for exp in exps]
opts = [exp.get_parameters_summary('OPT')['valueMax'] for exp in exps]
opt_strats = [exp.get_parameters_summary('OPT_STRATEGY')['valueMax'] for exp in exps]
ids = [exp.id for exp in exps]

In [5]:
df = pd.DataFrame({'id': ids, 'lr': lrs, 'test_acc': teas, 'opt': opts, 'opt_str': opt_strats})
# df_fin = df[df['test_acc'] > 99]
# [float(d['metricValue']) for d in exp.get_metrics('test_acc')]

In [6]:
df.iloc[df.groupby(['opt', 'opt_str']).idxmax()['test_acc']]

                                  id     lr  test_acc       opt  opt_str
6   77d5367536b449198dd4f3934988afac  0.100     13.58      ASGD      avg
23  f2738be511b3466cbfeb760a68e2a130  0.100     14.60      ASGD  nothing
19  a8cad24bab474a22963fd3f580f7aca3  0.100     14.01      ASGD   reinit
63  0baabf993d624f638fc0741a63a30096  1.000     21.16  Adadelta      avg
71  564578ac55804a20b635a31f1f94db51  1.000     17.68  Adadelta  nothing
67  0c407d9c67d64dcf9efa3a2fd43cbccc  1.000     17.55  Adadelta   reinit
38  b945ff4fc9e84f56b88b96607b09227a  0.001     20.25      Adam      avg
46  87081dabb1ed45f4a205135629c3be8a  0.001     17.42      Adam  nothing
42  48d20f08dfae4d1c89f954cacf69ab70  0.001     18.39      Adam   reinit
8   280b4026a9794873973d746d9589153f  0.100     14.46       SGD      avg
25  25adc312d2eb4733b0ad959560a9cb7e  0.100     13.12       SGD  nothing
21  185bb406a66f4aafb2923b2c4e4a9056  0.100     13.70       SGD   reinit