In [3]:
import comet_ml
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [4]:
comet_api = comet_ml.api.API()

In [6]:
exps = comet_api.get('federated-learning/server-side-opt')

In [7]:
clrs = [float(exp.get_parameters_summary('CLIENT_LEARNING_RATE')['valueMax']) for exp in exps]
slrs = [float(exp.get_parameters_summary('SERVER_LEARNING_RATE')['valueMax']) for exp in exps]
sopts = [exp.get_parameters_summary('SERVER_OPT')['valueMax'] for exp in exps]
teas = [float(exp.get_metrics_summary('test_acc')['valueMax']) for exp in exps]
ids = [exp.id for exp in exps]

In [22]:
df = pd.DataFrame({'id': ids, 'client lr': clrs, 'server lr': slrs, 'server opt': sopts, 'test_acc': teas})
# df_fin = df[df['test_acc'] > 99]
# [float(d['metricValue']) for d in exp.get_metrics('test_acc')]

In [25]:
df.iloc[df.groupby(['server opt', 'server lr']).idxmax()['test_acc']]
# df.sort_values(['test_acc'], ascending=False)[['server lr', 'client lr', 'server opt', 'test_acc']]

,id,client lr,server lr,server opt,test_acc
25,cbaf1a4042f546579e53f123138d12cd,0.0001,0.001,Adagrad,15.49
32,b2c58af571eb4caa8eda54db60c5f155,0.0100,0.010,Adagrad,13.96
35,a2d483707d744cb48e912a476ef5bf50,0.0001,0.100,Adagrad,3.19
40,882da60cf74747ed8657c24ca4ec009f,0.0001,1.000,Adagrad,1.38
46,03b165faf048442e928f9089b981425f,0.0010,10.000,Adagrad,1.38
0,30106740743446ea9b4c1207ae3cc0ce,0.0001,0.001,Adam,20.84
7,6e311dff7e444eb882481e54694f5336,0.0100,0.010,Adam,6.11
12,801a237549964218bc439ca8051f9688,0.0100,0.100,Adam,1.77
16,003a5d4ac187442d83f0ac6e31cfb3db,0.0010,1.000,Adam,1.61
22,f565d7d81ce445059b8c212011b2bbbe,0.0100,10.000,Adam,1.48

In [26]:
df[df['server opt'] == 'Adam']

,id,client lr,server lr,server opt,test_acc
0,30106740743446ea9b4c1207ae3cc0ce,0.0001,0.001,Adam,20.84
1,842e34f0e4a74e159e989b69866febfc,0.0010,0.001,Adam,19.57
2,71be485fb73a4348a2ff400fe6894138,0.0100,0.001,Adam,18.47
3,83c23e1ef97947f9a7f72a54ed5c74c3,0.1000,0.001,Adam,4.81
4,53546dca97b04219a6cf634a390d7471,1.0000,0.001,Adam,1.00
5,0b49621af3b049369c1de1fc439d15bf,0.0001,0.010,Adam,4.78
6,01514a4af59145b2aa1f8e1a1a437ced,0.0010,0.010,Adam,4.52
7,6e311dff7e444eb882481e54694f5336,0.0100,0.010,Adam,6.11
8,abf3b54414784b3cbe72dd5b9a08c3e4,0.1000,0.010,Adam,3.35
9,6bf3c7194de744a0b3e7bb0925a9b765,1.0000,0.010,Adam,1.34
10,50d44b37a44b4a028ed8b84fd7c30da5,0.0001,0.100,Adam,1.41
11,87e508cef4c34601846a4800335585a1,0.0010,0.100,Adam,1.68
12,801a237549964218bc439ca8051f9688,0.0100,0.100,Adam,1.77
13,114a7da5d73546d3aa8b24f7076580c0,0.1000,0.100,Adam,1.67
14,1b0a900ea78e47aea239d2d58ba975d1,1.0000,0.100,Adam,1.59
15,ff0faa7e08044c57bf778465344e0090,0.0001,1.000,Adam,1.54
16,003a5d4ac187442d83f0ac6e31cfb3db,0.0010,1.000,Adam,1.61
17,2de4ebce06184981bc4f9285df7ba26a,0.0100,1.000,Adam,1.42
18,5c549bb893c34cc38639e5e381a9aa52,0.1000,1.000,Adam,1.31
19,16966c1d2a074cd3ab0bd1b86b9d957f,1.0000,1.000,Adam,1.42
20,f8e07030efb0477d96e36bfc11c617d4,0.0001,10.000,Adam,1.16
21,5829404e86c8446e85463bfd47757a90,0.0010,10.000,Adam,1.08
22,f565d7d81ce445059b8c212011b2bbbe,0.0100,10.000,Adam,1.48
23,6533536ab58f4986a9d2950755c5ceaf,0.1000,10.000,Adam,1.16
24,327777dce2224102b521a8b2e30a144f,1.0000,10.000,Adam,1.19