In [3]:
import comet_ml
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [4]:
comet_api = comet_ml.api.API()

In [6]:
exps = comet_api.get('federated-learning/server-side-opt')

In [7]:
clrs = [float(exp.get_parameters_summary('CLIENT_LEARNING_RATE')['valueMax']) for exp in exps]
slrs = [float(exp.get_parameters_summary('SERVER_LEARNING_RATE')['valueMax']) for exp in exps]
sopts = [exp.get_parameters_summary('SERVER_OPT')['valueMax'] for exp in exps]
teas = [float(exp.get_metrics_summary('test_acc')['valueMax']) for exp in exps]
ids = [exp.id for exp in exps]

In [22]:
df = pd.DataFrame({'id': ids, 'client lr': clrs, 'server lr': slrs, 'server opt': sopts, 'test_acc': teas})
# df_fin = df[df['test_acc'] > 99]
# [float(d['metricValue']) for d in exp.get_metrics('test_acc')]

In [23]:
# df.iloc[df.groupby(['server opt', 'server ls']).idxmax()['test_acc']]
df.sort_values(['test_acc'], ascending=False)[['server lr', 'client lr', 'server opt', 'test_acc']]

    server lr  client lr server opt  test_acc
0       0.001     0.0001       Adam     20.84
1       0.001     0.0010       Adam     19.57
2       0.001     0.0100       Adam     18.47
25      0.001     0.0001    Adagrad     15.49
26      0.001     0.0010    Adagrad     15.34
32      0.010     0.0100    Adagrad     13.96
31      0.010     0.0010    Adagrad     12.35
27      0.001     0.0100    Adagrad     12.24
30      0.010     0.0001    Adagrad     12.04
33      0.010     0.1000    Adagrad      6.79
7       0.010     0.0100       Adam      6.11
3       0.001     0.1000       Adam      4.81
5       0.010     0.0001       Adam      4.78
6       0.010     0.0010       Adam      4.52
8       0.010     0.1000       Adam      3.35
35      0.100     0.0001    Adagrad      3.19
39      0.100     1.0000    Adagrad      3.18
37      0.100     0.0100    Adagrad      3.13
36      0.100     0.0010    Adagrad      2.68
38      0.100     0.1000    Adagrad      1.96
12      0.100     0.0100       Adam      1.77
11      0.100     0.0010       Adam      1.68
13      0.100     0.1000       Adam      1.67
16      1.000     0.0010       Adam      1.61
14      0.100     1.0000       Adam      1.59
15      1.000     0.0001       Adam      1.54
22     10.000     0.0100       Adam      1.48
17      1.000     0.0100       Adam      1.42
19      1.000     1.0000       Adam      1.42
10      0.100     0.0001       Adam      1.41
40      1.000     0.0001    Adagrad      1.38
46     10.000     0.0010    Adagrad      1.38
48     10.000     0.1000    Adagrad      1.35
9       0.010     1.0000       Adam      1.34
42      1.000     0.0100    Adagrad      1.33
18      1.000     0.1000       Adam      1.31
28      0.001     0.1000    Adagrad      1.28
47     10.000     0.0100    Adagrad      1.20
24     10.000     1.0000       Adam      1.19
45     10.000     0.0001    Adagrad      1.17
23     10.000     0.1000       Adam      1.16
20     10.000     0.0001       Adam      1.16
41      1.000     0.0010    Adagrad      1.15
21     10.000     0.0010       Adam      1.08
49     10.000     1.0000    Adagrad      1.07
44      1.000     1.0000    Adagrad      1.00
43      1.000     0.1000    Adagrad      1.00
34      0.010     1.0000    Adagrad      1.00
29      0.001     1.0000    Adagrad      1.00
4       0.001     1.0000       Adam      1.00